            <div class="side_column_box">
            
            	<h2><span></span>Trends</h2>
                
                <div class="side_column_box_content">
                	<div class="news_section">
                        <h3><a href="#">Etiam tempus tellus eget</a></h3>
                        <a href="#"><%= image_tag 'templatemo_image_04.jpg' %></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et ipsum sem, ut lobortis dui.</p>
                  </div>
                        
                    <div class="news_section">
                        <h3><a href="#">Nam quis aliquet quam</a></h3>
                        <a href="#"><%= image_tag 'templatemo_image_03.jpg' %></a>                        
                      <p>Sed pharetra neque vel mauris auctor ornare. Maecenas urna lorem, consectetur eget consectetur id.</p>
                  </div>
					
					<div class="button_01"><a href="#">View All</a></div>
                </div>
                
                <div class="bottom"></div>
            </div>